@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    span#bur {
        display: none;
    }
    menu {
        display: block;
        text-align: center;
    }
    menu li {
        display: inline-block;
        margin: 0px 10px 0px 10px;
        width: 150px;
    }
    main {
        width: 768px;
    }
}
